*{
    margin: 0;
    padding: 0;
}

.box1{
    width: 1330px;
    height: 1412px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
}
nav{
    width: 1330px;
    height: 40px;
    background: #333333;
    position: relative;
    margin: 0 auto;
}
nav  .ul11 li{
    float: left;
    border-right: solid 1px rgb(122, 122, 122);
    list-style: none;
    color: #b0b0b0;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 12px;
}
nav .ul11{
    position: absolute;
    top: 10px;
    left: 62px;
}
nav .ul22 li{
    list-style: none;
    float: left;
    color: #9d9d9d;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 12px;
    border-right: solid 1px rgb(2, 5, 56);
}
nav .ul22{
    position: absolute;
    top: 10px;
    right: 182px;
}
.shoppingcar{
    width: 120px;
    height: 40px;
    background: #424242;
    position: absolute;
    right: 43px;

}
.shoppingcar img{
    position: absolute;
    top: 16px;
    left: 16px;
}
.shoppingcar span{
    color: #b0b0b0;
    font-size: 12px;
    position: absolute;
    top: 14px;
    left: 40px;
    vertical-align: middle;
}
.shoppingcar{
    width: 120px;
    height: 40px;
    background: #424242;
    position: absolute;
    right: 43px;

}
.shoppingcar img{
    position: absolute;
    top: 16px;
    left: 16px;
}
.shoppingcar span{
    color: #b0b0b0;
    font-size: 12px;
    position: absolute;
    top: 14px;
    left: 40px;
    vertical-align: middle;
}
.shangpinfenlei{
    height: 100px;
    width: 1330px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    position: relative;
   
}
.shangpinfenlei img{
    top: 22px;
    left: 52px;
    position: absolute
}
.shangpinfenlei ul{
    position: absolute;
    top:38px;
    left: 260px;
}
.shangpinfenlei li{
    font-size: 14px;
    list-style: none;
    color: #333333;
    float: left;
    margin-right: 20px;
}
.shangpinfenlei input{
    width: 143px;
    height: 44px;
    border: 1px #e0e0e0 solid;
    position: absolute;
    top: 25px;
    right:91px ;
    outline: none
}
.shangpinfenlei button{
    width: 50px;
    height: 46px;
    background: #ffffff url(../images/find.jpg) no-repeat center;
    border: 1px #e0e0e0 solid;
    position: absolute;
    top: 25px;
    right: 43px;
}
input::placeholder{
    width: 70px;
    height: 18px;
    background: #eeeeee;
    margin-left: 56px;
    font-size: 12px;
    text-align: center;
}
.lunbotu{
    width: 1226px;
    height: 460px;
    position: relative;
}
.lunbotu .ul2{
    width: 234px;
    height: 460px;
    background-image: linear-gradient(to bottom right,#0b154f, #18405a);
    padding-left: 30px;
    padding-top: 30px;
    box-sizing: border-box;
    margin-left: 52px;
}
.lunbotu .ul2 li{
    list-style: none;
    line-height: 42px;
    font-size: 14px;
    color: white;
    background: url(../images3/jiantou.png) no-repeat 160px 16px;
}
.lunbotu .img1{
    position: absolute;
    top: 0;
    left: 286px;
}
.hui6{
    width: 235px;
    height: 170px;
    background: #5f5750;
    margin-left: 52px;
    margin-top: 14px;
    position: relative;
}
.hui6 li{
    list-style: none;
    float: left;
    color: #cfcdcb;
    border-right: #665e57 1px solid;
    margin-top: 10px;
    text-align: center;
}
.hui6 ul{
    margin-left: 2px;
}
.hui6 .none{
    border-right: none;
}
.hui6 .cheng{
    top: 0;
    left: 242px;
    position: absolute;
}
.hui6 .hong{
    top: 0;
    left: 575px;
    position: absolute;
}
.hui6 .lan{
    top: 0;
    left: 910px;
    position: absolute;
}
.xiaomishangou{  
    margin: 0 auto;
    position: relative;
}
.xiaomishangou .btn1{
    width: 34px;
    height: 22px;
    border: 1px solid #e0e0e0;
    background:none;
    top: 230px;
    right: 85px;
    position: absolute;
}
.xiaomishangou .btn2{
    width: 34px;
    height: 22px;
    border: 1px solid #e0e0e0;
    background:none;
    top: 230px;
    right: 52px;
    position: absolute;
}
.xiaomishangou h2{
    position: absolute;
    top: 228px;
    left: 62px;
}
.xiaomishangou .div1{
    width: 234px;
    height: 339px;
    background: #f1eded;
    border-top: 1px red solid;
    position: absolute;
    top:283px;
    left: 52px;
}
.xiaomishangou .div1 .p1{
    font-size: 20px;
    color: #ef3a3b;
    margin-top: 60px;
    margin-left: 78px;
}
.xiaomishangou .div1 img{
    margin-top: 50px;
    margin-left: 100px;
}
.xiaomishangou .div1 .p2{
    font-size: 14px;
    color: #6f6d6d;
    margin-left: 72px;
    margin-top: 35px;
}
.xiaomishangou .div1 span{
    width: 46px;
    height: 46px;
    background: #605751;
    color: white;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
   
}
.xiaomishangou .div1 .p3{
    color:#605751;
    margin-top: 20px;
    margin-left: 24px;
}
.xiaomishangou .div2{
    width: 234px;
    height: 339px;
    background: #fafafa;
    border-top: 1px #ffac13 solid;
    position: absolute;
    top:283px;
    left: 300px;
    }
.xiaomishangou .div3{
    width: 234px;
    height: 339px;
    background: #fafafa;
    border-top: 1px #83c44e solid;
    position: absolute;
    top:283px;
    left: 548px;
    }
.xiaomishangou .div4{
    width: 234px;
    height: 339px;
    background: #fafafa;
    border-top: 1px #2196f3 solid;
    position: absolute;
    top:283px;
    left: 796px;
    }
.xiaomishangou .div5{
    width: 234px;
    height: 339px;
    background: #fafafa;
    border-top: 1px #e53935 solid;
    position: absolute;
    top:283px;
    left: 1044px;
    }
    .xiaomishangou .p11{
        font-size: 14px;
        color: #333;
        margin-top: 30px;
        text-align: center
    }
    .xiaomishangou .p22{
        font-size: 14px;
        color: #adadad;
        margin-top: 10px;
        text-align: center

    }
    .xiaomishangou .p33{
        font-size: 14px;
        color: #fa6509;
        margin-top: 20px;
        text-align: center
    }
    .xiaomishangou .p33 .hou{
        color: #adadad;
        margin-left: 10px;
    }
    .weinierzhan{
        margin: 0 auto;
        display: block;
        margin-top: 664px;
        margin-bottom:122px
    }
    .box2{
        height: 6936px;
        width: 1330px;
        background: #f5f5f5;
        margin: 0 auto;
        padding-top: 20px;
        box-sizing: border-box
    }
    .shoujibankuaier{
        width: 1226px;
        height: 654px;
        background:#f5f5f5;
        margin: 0 auto;
        position: relative;
    } 
    .shoujibankuaier h2{
        margin-bottom: 10px;
        margin-top: 18px;
    }
    .shoujibankuaier .quanbup{
        color: #333;
        position: absolute;
        width: 100px;
        right: 0px;
        top: 0px;
        background: url(../images3/huijiantou.jpg) no-repeat right center;
    }


    .shoujibankuaier .ula{
        position: absolute;
        top: 40px;
        left: 234px;
    }
    .shoujibankuaier .ula li{
        width: 234px;
        height: 300px;
        background: white;
        list-style: none;
        float: left;
        margin-left: 14px;
        margin-bottom: 14px;  
        text-align: center 
    }
    .shoujibankuaier .ula .p111{
        font-size: 14px;
        color: #333;
        margin-top: 10px;
    }
    .shoujibankuaier .ula .p222{
        font-size: 12px;
        color: #b0b0b0;
        margin-top: 5px;

    }
    .shoujibankuaier .ula .p333{
        font-size: 12px;
        color: #fa6509;
        margin-top: 10px;

    }
    .shoujibankuaier .p333 .hou{
        font-size: 12px;
        color: #b0b0b0;
        margin-left: 10px;

    }
    .dianshitehui{
        margin-top: 38px;
    }

    .jiadian h2{
        margin-bottom: 10px;
    }
   
    
    .jiadian li{
        list-style: none;
        float: left;
        width: 234px;
        height: 300px;
        background: white;
        margin-bottom: 14px;
        margin-right: 14px;
    }
    .jiadian .p111{
        font-size: 14px;
        color: #333;
        margin-top: 10px;
        text-align: center;
    }
    .jiadian .p222{
        font-size: 12px;
        color: #b0b0b0;
        margin-top: 5px;
        text-align: center;
    }
    .jiadian .p333{
        font-size: 12px;
        color: #fa6509;
        margin-top: 10px;
        text-align: center;


    }
    .jiadian .p333 .hou{
        font-size: 12px;
        color: #b0b0b0;
        margin-left: 10px;
    }
    .jiadian{  
        margin-top: 200px;
        margin-left: 50px;
    }
    .jiadian .li10{
        width: 236px;
        height: 142px;
        background: rgb(255, 255, 255);
        position: relative;
    }
    .jiadian .li11{
        width: 236px;
        height: 142px;
        background: rgb(255, 255, 255);
        position: relative;
    }
    .jiadian10{
        right: 0px;
        position: absolute;
    }
    .jiadian .li10 .text{
        top: 44px;
        left: 30px;
        color: #333;
        font-size: 14px;
        position: absolute;
    }
    .jiadian .li10 .jiage{
        top: 71px;
        left: 30px;
        position: absolute;
        font-size: 14px;
        color: #fa6509;
    }
    .jiadian .li11 .liulangengduo{
        top: 54px;
        font-size: 18px;
        left: 30px;
        position: absolute
    }
    .jiadian .li11 .remen{
        top: 80px;
        font-size: 12px;
        left: 30px;
        color: #757575;
        position: absolute;
    }
    .jiadian .li11 img{
        right: 35px;
        top: 48px;
        position: absolute;

    }
    .shoujin{
        margin: 0 auto;
        margin-top:32px;
    }
    

   
    
    .zhineng{  
        margin-top:30px;
        margin-left:0px;
    }
    .zhineng .li10{
        width: 236px;
        height: 142px;
        background: rgb(255, 255, 255);
        position: relative;
    }
    .zhineng .li11{
        width: 236px;
        height: 142px;
        background: rgb(255, 255, 255);
        position: relative;
    }
    .zhineng10{
        right: 0px;
        position: absolute;
    }
    .zhineng .li10 .text{
        top: 44px;
        left: 30px;
        color: #333;
        font-size: 14px;
        position: absolute;
    }
    .zhineng .li10 .jiage{
        top: 71px;
        left: 30px;
        position: absolute;
        font-size: 14px;
        color: #fa6509;
    }
    .zhineng .li11 .liulangengduo{
        top: 54px;
        font-size: 18px;
        left: 30px;
        position: absolute
    }
    .zhineng .li11 .remen{
        top: 80px;
        font-size: 12px;
        left: 30px;
        color: #757575;
        position: absolute;
    }
    .zhineng .li11 img{
        right: 35px;
        top: 48px;
        position: absolute;

    }
    
    .xiaomibijiben{
        margin: 0 auto;
        margin-top: 32px;
    }
    

    .dapei .p111{
        font-size: 14px;
        color: #333;
        margin-top: 10px;
        text-align: center;
    }
    .dapei .p222{
        font-size: 12px;
        color: #fa6509;
        margin-top: 5px;
        text-align: center;
    }
    .dapei .p333{    
        font-size: 12px;
        color: #b0b0b0;
        margin-top: 10px;
        text-align: center;
    }
    
    .dapei{  
        margin-top:30px;
        margin-left:0px;
    }
    .dapei .li10{
        width: 236px;
        height: 142px;
        background: rgb(255, 255, 255);
        position: relative;
    }
    .dapei .li11{
        width: 236px;
        height: 142px;
        background: rgb(255, 255, 255);
        position: relative;
    }
    .dapei10{
        right: 0px;
        position: absolute;
    }
    .dapei .li10 .text{
        top: 44px;
        left: 30px;
        color: #333;
        font-size: 14px;
        position: absolute;
    }
    .dapei .li10 .jiage{
        top: 71px;
        left: 30px;
        position: absolute;
        font-size: 14px;
        color: #fa6509;
    }
    .dapei .li11 .liulangengduo{
        top: 54px;
        font-size: 18px;
        left: 30px;
        position: absolute
    }
    .dapei .li11 .remen{
        top: 80px;
        font-size: 12px;
        left: 30px;
        color: #757575;
        position: absolute;
    }
    .dapei .li11 img{
        right: 35px;
        top: 48px;
        position: absolute;

    }
    .diannuanqi{
        margin: 0 auto;
        margin-top: 32px;
    }
    .peijian h2{
        margin-top: 30px;
    }
    .peijian .p222{
        font-size: 12px;
        color: #fa6509;
        margin-top: 5px;
        text-align: center;
    }
    
    .peijian .p222 .hou{
        font-size: 12px;
        color: #b0b0b0;
        margin-left: 10px;
    }
    .peijian .p333{    
        font-size: 12px;
        color: #b0b0b0;
        margin-top: 10px;
        text-align: center;
    }
    .peijian10{
        right: 0px;
        position: absolute;
    }
    .gugongerji{
        margin: 0 auto;
        margin-top: 32px;
    }
    .zhoubian h2{
        margin-top: 30px;
    }
    .zhoubian .p222{
        font-size: 12px;
        color: #fa6509;
        margin-top: 5px;
        text-align: center;
    }
    
    .zhoubian .p222 .hou{
        font-size: 12px;
        color: #b0b0b0;
        margin-left: 10px;
    }
    .zhoubian .p333{    
        font-size: 12px;
        color: #b0b0b0;
        margin-top: 10px;
        text-align: center;
    }
    .zhoubian10{
        right: 0px;
        position: absolute;
    }
    .zhinengmensuo{
        margin: 0 auto;
        margin-top: 32px;
    }
    
    .weinituijian h2{
        margin-top: 30px;
    }
    .weinituijian li{
        list-style: none;
        float: left;
    }
    .reping{
        width: 1225px;
        height: 486px;
        margin-top: 340px;
        position: relative;
        }
    .reping h2{
        margin-top: 34px;
    }
    .reping li{
        width: 296px;
        height: 415px;
        margin-right: 14px
    }
    .reping li:nth-child(4){
       position: absolute;
       right: -12px;
    }
    .reping .A1{
        margin-top: 34px;
        margin-left: 28px;
        color: #333;
        line-height: 24px;
        font-size: 14px;
    }
    .reping .A2{
        color: #b0b0b0;
        font-size: 12px;
        margin-left: 28px;
        margin-top: 20px;
    }
    .reping .A3{
        color: #333;
        font-size: 14px;
        margin-left: 30px;
        margin-top: 10px;
    }
    .reping .A4{
        color: #e2e8f1;
        margin-left: 12px;
        margin-right: 5px;
    }
    .reping .A5{
        color: #fa6509;
    }
    .neirong{
        width: 1225px;
        height: 500px;
        background: transparent;
        position: relative;
    }
    .neirong li{
        width: 296px;
        height: 419px;
        background: white;
        margin-right: 14px;
        text-align: center;
    }
    .neirong li:nth-child(4){
        right:  -14px;
        position: absolute;
    }
    .l1{
        border-top: 1px solid #ffac13;
        position: relative;
    }
    .l2{
        border-top: 1px solid #83c44e;
        position: relative;
    }
    .l3{
        border-top: 1px solid #e53935;
        position: relative;
    }
    .l4{
        border-top: 1px solid #2196f3;
        position: relative;
    }
    .l1 .b1{
        color: #ffac13;
        left: 132px;
        top: 49px;
        position: absolute;
    }
    .l2 .b2{
        color: #83c44e;
        left: 114px;
        top: 49px;
        position: absolute;
    }
    .l3 .b3{
        color: #e53935;
        left: 132px;
        top: 49px;
        position: absolute;
    }
    .l4 .b4{
        color: #2196f3;
        left: 132px;
        top: 49px;
        position: absolute;
    }
    .l1 .c1{
        margin-top: 90px;
        color: #333;   
    }
    .l2 .c1{
        margin-top: 90px;
        color: #333;   
    }
    .l3 .c1{
        margin-top: 90px;
        color: #333;   
    }
    .l4 .c1{
        margin-top: 90px;
        color: #333;   
    }
    .c2{
        width: 192px;
    }
    .l1 .c2{
        left: 52px;
        font-size: 12px;
        color: #b0b0b0;
        position: absolute;
        margin-top: 4px;
        line-height: 20px;
    }
    .l2 .c2{
        left: 52px;
        font-size: 12px;
        color: #b0b0b0;
        position: absolute;
        margin-top: 4px;
    }
    .l3 .c2{
        left: 52px;
        font-size: 12px;
        color: #b0b0b0;
        position: absolute;
        margin-top: 4px;
    }
    .l4 .c2{
        left: 52px;
        font-size: 12px;
        color: #b0b0b0;
        position: absolute;
        margin-top: 4px;
      
    }
    .neirong li img{
        right: 0px;
        position: absolute
    }
    .neirong img{
        margin-top: 68px;
    }
    .l1 .c3{
        color: #333;
        font-size: 14px;
        margin-top: 50px;
    }
    .neirong .l1 img{
        margin-top: 20px;
    }
    .shipin{
        width: 1226px;
        height: 320px;
        position: relative;
    }
    .shipin h2{
        margin-top: 30px;
    }
    .shipin li{
        width: 296px;
        height: 285px;
        background: white;
        margin-right: 14px;
    }
    .shipin li:nth-child(4){
        right: -14px;
        position: absolute;
    }
    .shipin ul li{
        text-align: center
    }
    .m1{
        color: #333;
        font-size: 14px;
        margin-top: 22px;
    }
    .m2{
        color: #b0b0b0;
        font-size: 12px;
        margin-top: 6px;
    }



    /* 底部 */
    .weixiu{
       height: 272px;
       width: 1330px;
       background: white;
       margin: 0 auto;
       margin-top:50px;
       position: relative;
   }
   .weixiu li{
       color: #616161;
       list-style: none;
       float: left;
       border-right: #616161 1px solid;
       padding-right: 50px;
       padding-left: 50px;
       margin-top: 28px;

   }
   .weixiu img{
       margin-right: 8px;
       vertical-align: middle;
   }
   .weixiu li:nth-child(5){
       border-right: none;
   }
   .weixiu li :nth-child(1){
    margin-left: 20px;
   }
    .weixiu table{
        width: 1226px;
        height: 111px;
        background: #ffffff;
       position: absolute;
       top: 122px;
       left: 62px;
    }
    .weixiu table th{
        text-align: left;
        font-size: 14px;
        color: #424242;
        width: 160px;
        vertical-align: top;
    }
    .weixiu table td{
        font-size: 12px;
        color: #757575;
        text-align: left;
        vertical-align: bottom;
    }
    .weixiu table .th2{
        border-left: 1px #ff6700 solid;
        text-align: center;
        vertical-align: middle;
    }
    .weixiu table .p1{
        font-size: 16px;
        color: #ff6700;
        margin-bottom: 12px;
    }
    .weixiu table .p2{
        color: #616161;
        font-size: 12px;
        margin-bottom: 8px;
    }
    .weixiu table .p3{
        font-size: 12px;
        color: #ff6700;
        margin-top: 12px;
        border: #ff6700 1px solid;
        width: 118px;
        height: 28px;
        margin: 0 auto;
        padding-top: 3px;
        box-sizing: border-box
    }
    footer{
        width: 1330px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        margin-top: -10px;
    }
    footer .logo2{
        position: absolute;
        top: 50px;
        left: 63px;
    }
    footer .ulx{
        top: 34px;
        left: 128px;
        position: absolute;     
    }
    footer .ulx li{
        list-style: none;
        border-right: 2px solid #b6b6b6;
        color: #757575;
        float: left;
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
        
    }
    footer .s1{
        top: 50px;
        left: 128px;
        position: absolute;
        color: #757575;
        font-size: 12px;
    }
    footer .s2{
        top: 70px;
        left: 128px;
        position: absolute;
        color: #757575;
        font-size: 12px;
    }
    footer .s3{
        top: 88px;
        left: 128px;
        position: absolute;
        color: #757575;
        font-size: 12px;
    }
    footer .s4{
        top: 106px;
        left: 128px;
        position: absolute;
        color: #757575;
        font-size: 12px;
    }
    .ulxx li{
        list-style: none;
        float: left;
        width: 90px;
    }
    .ulxx{
        position: absolute;
        top: 125px;
        left: 128px;
    }
    .ulxx p{
        font-size: 12px;
        color: #757575;
        width: 48px;
        
    }
    .x1{
        position: absolute;
        top: -5px;
        left: 120px;
    }
    .x2{
        position: absolute;
        top: -5px;
        left: 208px;
    }
    .x3{
        position: absolute;
        top: -5px;
        left: 296px;
    }
    .x4{
        position: absolute;
        top: -5px;
        left: 396px;
    }
    .last{
        font-size: 18px;
        left: 542px;
        top: 190px;
        color: #b6b4b3;
        position: absolute;
    }
