.zuida{
    width: 1330px;
    height: 637px;
    margin: 0 auto;
    background: #f9f9f9;
}
.beijing{
width:856px;
height:550px;
background: white;
margin: 0 auto;
}
.beijing img{
margin: 0 auto;
display: block;
}
.zhuce{
font-size: 30px;
text-align: center;
}
form label{
font-size: 12px;
color: #333;

}
.form1 input{
width: 290px;
height: 40px;
border: 1px #e8e8e8 solid;
background: #fff;
outline: none;
margin-top: 5px;

}
form .btn{
width: 40px;
height: 44px;
border: 1px solid #e8e8e8;
margin-left: -6px;
margin-bottom: -16.5px;
background: #fff;
background-image: url(../images/xia.png)  no-repeat;

}
.success{
font-size: 12px;
color: #666666;
margin-top: 5px;
}
.form1{
margin-left: 262px;
}

.phone .shouji{
width: 256px;
height: 40px;
border: 1px #e8e8e8 solid;
background: #fff;
margin-left: -6px;
outline: none;
margin-top: 5px;
}
.phone{
margin-left: 262px;

}
form .lijizhuce{
background: #ff6700;
border: 1px solid #ea8038; 
font-size: 14px;
color: white;
width: 334px;
height: 40px;
margin-top: 30px;
margin-left: 262px;
}
select{
width: 74px;
height: 44px;
outline: none;
border: 1px #e8e8e8 solid;
background: #fff;
text-align: center
}
div .gou{
float: left;
margin-top: 17px;
margin-right: 5px;

}
div .xieyi{
    color: #999;
    font-size: 14px;
    float: left;
   
}
div .xieyi span{
color: #333;

}
.zuixia{
margin-left: 240px;
margin-top: 66px;
}

li{
list-style:none;
font-size: 12px;
float: left;
color: #999;
border-right:1px solid #c4a99d;
width: 60px;
text-align: center
}
ul li:nth-child(1){
color: #666;  
}
ul li:nth-child(4){
border-right: none; 
}
ul{
margin:10px 500px 0px  ;
}
.jingcha{
color: #9d9d9d;
font-size: 10px;
margin: 0 auto;
margin-left: 410px;
}