*{
    margin: 0;
    padding: 0;
}
body{
    background: #f5f5f5;
}
.box{
    width: 1330px;
    height: 7110px;
    background: #ffffff;
    margin: 0 auto;
}
nav{
    width: 1330px;
    height: 40px;
    background: #333333;
    position: relative;
    margin: 0 auto;
}
nav  .ul11 li{
    float: left;
    border-right: solid 1px rgb(122, 122, 122);
    list-style: none;
    color: #b0b0b0;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 12px;
}
nav .ul11{
    position: absolute;
    top: 10px;
    left: 62px;
}
nav .ul22 li{
    list-style: none;
    float: left;
    color: #b0b0b0;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 12px;
    border-right: solid 1px rgb(122, 122, 122);
}
nav .ul22{
    position: absolute;
    top: 10px;
    right: 182px;
}
.shoppingcar{
    width: 120px;
    height: 40px;
    background: #424242;
    position: absolute;
    right: 43px;

}
.shoppingcar img{
    position: absolute;
    top: 16px;
    left: 16px;
}
.shoppingcar span{
    color: #b0b0b0;
    font-size: 12px;
    position: absolute;
    top: 14px;
    left: 40px;
    vertical-align: middle;
}
.shoppingcar{
    width: 120px;
    height: 40px;
    background: #424242;
    position: absolute;
    right: 43px;

}
.shoppingcar img{
    position: absolute;
    top: 16px;
    left: 16px;
}
.shoppingcar span{
    color: #b0b0b0;
    font-size: 12px;
    position: absolute;
    top: 14px;
    left: 40px;
    vertical-align: middle;
}
.shangpinfenlei{
    height: 100px;
    width: 1330px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    position: relative;
   
}
.shangpinfenlei img{
    top: 22px;
    left: 62px;
    position: absolute
}
.shangpinfenlei ul{
    position: absolute;
    top:38px;
    left: 260px;
}
.shangpinfenlei li{
    font-size: 14px;
    list-style: none;
    color: #333333;
    float: left;
    margin-right: 20px;
}
.shangpinfenlei input{
    width: 143px;
    height: 44px;
    border: 1px #e0e0e0 solid;
    position: absolute;
    top: 25px;
    right:91px ;
    outline: none
}
.shangpinfenlei button{
    width: 50px;
    height: 46px;
    background: #ffffff url(../images/find.jpg) no-repeat center;
    border: 1px #e0e0e0 solid;
    position: absolute;
    top: 25px;
    right: 43px;
}
input::placeholder{
    width: 70px;
    height: 18px;
    background: #eeeeee;
    margin-left: 56px;
    font-size: 12px;
    text-align: center;
}
.shouye{
    margin-left: 62px;
    font-size: 12px;
    color: #757575;
    position: absolute;
    top: 112px;
    left:0px; 
}


.more{
    height: 6500px;
    width: 1330px;
    background: rgb(255, 255, 255); 
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    padding-top: 74px;
    padding-left: 62px;
    box-sizing: border-box
}
.dianhuaka{
    color: #ff6700;
    font-size: 18px;
    top:35px;
    left: 102px;
    position: absolute;
}
.dianhuaka img{
    top: 0px;
    left: -40px;
    position: absolute
}

 table:not(:last-child) td{
    width: 244px;
    height: 160px;
    background: white;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    box-sizing: border-box
}
tr p{
    margin-bottom:26px; 
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #757575;
}
.table2{
 
    margin-top: 74px;
    
}
.dianshihezi{
    color: #ff6700;
    font-size: 18px;
    top:924px;
    left: 102px;
    position: absolute;
}
.dianshihezi img{
    left: -40px;
    position: absolute
}


.table3{
    margin-top: 74px;
}
.bijiben{
    color: #ff6700;
    font-size: 18px;
    top:1820px;
    left: 102px;
    position: absolute;
}
.bijiben img{
    left: -40px;
    position: absolute
}


.table4{
    margin-top: 74px;
}
.jiadian{
    color: #ff6700;
    font-size: 18px;
    top:2385px;
    left: 102px;
    position: absolute;
}
.jiadian img{
    left: -40px;
    position: absolute;
}



.table5{
    margin-top: 74px;
}
.chuxing{
    color: #ff6700;
    font-size: 18px;
    top:3280px;
    left: 102px;
    position: absolute;
}
.chuxing img{
    left: -40px;
    position: absolute;
}


.table6{
    margin-top: 74px;
}
.luyouqi{
    color: #ff6700;
    font-size: 18px;
    top:3685px;
    left: 102px;
    position: absolute;
}
.luyouqi img{
    left: -40px;
    position: absolute;
}


.table7{
    margin-top: 74px;
}
.dianyuan{
    color: #ff6700;
    font-size: 18px;
    top:4090px;
    left: 102px;
    position: absolute;
}
.dianyuan img{
    left: -40px;
    position: absolute;
}


.table8{
    margin-top: 74px;
}
.jiankang{
    color: #ff6700;
    font-size: 18px;
    top:4655px;
    left: 102px;
    position: absolute;
}
.jiankang img{
    left: -40px;
    position: absolute;
}

.table9{
    margin-top: 74px;
}
.erji{
    color: #ff6700;
    font-size: 18px;
    top:5390px;
    left: 102px;
    position: absolute;
}
.erji img{
    left: -40px;
    position: absolute;
}


 .table10{
    margin-top: 74px;
    
}
.table10 td{
    width: 244px;
    height: 160px;
    background: white;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    box-sizing: border-box
}
.shenghuo{
    color: #ff6700;
    font-size: 18px;
    top:5790px;
    left: 102px;
    position: absolute;
}
.shenghuo img{
    left: -40px;
    position: absolute;
}





.weixiu{
       height: 272px;
       width: 1330px;
       background: white;
       margin: 0 auto;
       margin-top: 125px;
       position: relative;
   }
   .weixiu li{
       color: #616161;
       list-style: none;
       float: left;
       border-right: #616161 1px solid;
       padding-right: 50px;
       padding-left: 50px;
       margin-top: 28px;

   }
   .weixiu img{
       margin-right: 8px;
       vertical-align: middle;
   }
   .weixiu li:nth-child(5){
       border-right: none;
   }
   .weixiu li :nth-child(1){
    margin-left: 20px;
   }
    .weixiu table{
        width: 1226px;
        height: 111px;
        background: #ffffff;
       position: absolute;
       top: 122px;
       left: 62px;
    }
    .weixiu table th{
        text-align: left;
        font-size: 14px;
        color: #424242;
        width: 160px;
        vertical-align: top;
    }
    .weixiu  td{
        font-size: 12px;
        color: #757575;
        text-align: left;
        vertical-align: bottom;
    }
    .weixiu table .th2{
        border-left: 1px #ff6700 solid;
        text-align: center;
        vertical-align: middle;
    }
    .weixiu table .p1{
        font-size: 16px;
        color: #ff6700;
        margin-bottom: 12px;
    }
    .weixiu table .p2{
        color: #616161;
        font-size: 12px;
        margin-bottom: 8px;
    }
    .weixiu table .p3{
        font-size: 12px;
        color: #ff6700;
        margin-top: 12px;
        border: #ff6700 1px solid;
        width: 118px;
        height: 28px;
        margin: 0 auto;
        padding-top: 3px;
        box-sizing: border-box
    }
    footer{
        width: 1330px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        margin-top: 30px;
    }
    footer .logo2{
        position: absolute;
        top: 50px;
        left: 63px;
    }
    footer .ul1{
        top: 34px;
        left: 128px;
        position: absolute;     
    }
    footer .ul1 li{
        list-style: none;
        border-right: 2px solid #b6b6b6;
        color: #757575;
        float: left;
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
        
    }
    footer .s1{
        top: 50px;
        left: 128px;
        position: absolute;
        color: #757575;
        font-size: 12px;
    }
    footer .s2{
        top: 70px;
        left: 128px;
        position: absolute;
        color: #757575;
        font-size: 12px;
    }
    footer .s3{
        top: 88px;
        left: 128px;
        position: absolute;
        color: #757575;
        font-size: 12px;
    }
    footer .s4{
        top: 106px;
        left: 128px;
        position: absolute;
        color: #757575;
        font-size: 12px;
    }
    .ul2 li{
        list-style: none;
        float: left;
        width: 90px;
    }
    .ul2{
        position: absolute;
        top: 125px;
        left: 128px;
    }
    .ul2 p{
        font-size: 12px;
        color: #757575;
        width: 48px;
        
    }
    .x1{
        position: absolute;
        top: -5px;
        left: 120px;
    }
    .x2{
        position: absolute;
        top: -5px;
        left: 208px;
    }
    .x3{
        position: absolute;
        top: -5px;
        left: 296px;
    }
    .x4{
        position: absolute;
        top: -5px;
        left: 396px;
    }
    .last{
        font-size: 18px;
        left: 542px;
        top: 190px;
        color: #b6b4b3;
        position: absolute;
    }
    

    /* table:not(:nth-child(1)) .no{
        border-left: none;
    } */
   
    .no{
        border-left: none !important;
    }
    .n1{
        border-left: none !important;
    }
    .n2{
        border-right: 1px solid #e0e0e0 !important;
    }