*{
    margin: 0;
    padding: 0;
}
.all{
    width: 1300px;
    height: 833px;
    background: #eaeaea;
    margin: 0 auto;
    position: relative;
}
.white{
    width: 1300px;
    height: 98px;
    background: white;
    margin: 0 auto;
    
}
.white .huise img{
    margin-left:110px;
    margin-top: 25px;
    float: left;
}
.white .logo{
    margin-left:110px;
    margin-top: 25px;
    float: left;
}
.last .si img{
    margin-left:170px;
    margin-top: 25px;
    float: left;
}


.white .shangcheng{
    font-size: 30px;
    font-weight: bold;
    margin-top: 18px;
}
.white .lequ{
    font-size: 10px;
    color: #8f8f8f;
    
}
.zi{
    float: left;
   margin-left: 22px;
}
.huise .phone{
    top: 73px;
    left: -110px;
    position: absolute;
}
.huise .huise2{
    height: 479px;
    width: 500px;
    background: #e1e1e1;
    left: 800px;
    top:98px;
    position: absolute;
}
.denglu{
    width: 410px;
    height: 447px;
    background: white;
    position: absolute;
    right: 89px;
    top: 130px;
}
.ul1 li{
    list-style: none;
    font-size: 22px;
    float: left;
    border-right: 1px solid #666;
    width: 200px;
    text-align: center;
    margin-top: 32px;
    color: #f76600;
}
.ul1 li:nth-child(2){
    border: none;
    color: #666;
}
input{
    width: 346px;
    height: 48px;
    margin-bottom: 14px;
    margin-left: 31px;
    outline: none;
    border: 1px solid #e0e0e0;
    padding-left: 10px;
}
.no1{
    margin-top: 37px;
}
.btn{
    width: 346px;
    height: 48px;
    background: #ef5b00;
    color: white;
    font-size: 12px;
    margin-top: 21px;
}
.huise .xiao1{
    float: left;
    color: #ef5b00;
    font-size: 12px; 
    margin-right: 94px;
    margin-left: 32px;  
}
.huise .xiao2{
    color: #b399b3;
    width: 120px;
    font-size: 12px;
    float: left;
    margin-left: 35px;
}
.next{
    color: #999999;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 123px;
}   
.last{
    height: 256px;
    width: 1300px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 577px;
}
.si{
    margin-left: 740px;
}
.last .qq{
    margin-left: 210px;
    margin-right: -150px;
}
.last .zhifubao{
    margin-right: -150px;
}
.last .weibo{
    margin-right: -150px;
}
.ul2 li{
list-style:none;
font-size: 12px;
float: left;
color: #999;
border-right:1px solid #c4a99d;
width: 60px;
text-align: center
}
.ul2 li:nth-child(1){
color: #666;  
}
.ul2 li:nth-child(4){
border-right: none; 
}
.ul2{
margin:100px 500px 20px  ;
}
.jingcha{
color: #9d9d9d;
font-size: 10px;
margin-left: 390px;

}