*{
    margin: 0;
    padding: 0;
}
.clear-fix{
    clear: both;
}
.nav-box{
    width: 100%;
    background-color: #333333;
    height: 40px;
}
.nav-top{
    width: 1226px;
    height: 40px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.nav-top .left{
    width: 794px;
    height: 40px;
    display: inline-block;
    
}
.nav-top .right{
    width: 347px;
    height: 40px;
    display: inline-block;
}
.nav-top .right li,
.nav-top .left li{
    list-style: none;
    font-size: 12px;
    line-height: 40px;
    float: left;
    
}
.nav-top .right li i,
.nav-top .left li i{
    font-style: normal;
    color: #424242;
    padding: 0 4px;
}
.nav-top .right li a,
.nav-top .left li a{
    color: #b0b0b0;
    text-decoration: none;
}
.nav-top .right li a:hover,
.nav-top .left li a:hover{
        color: white;
}
.nav-top .right .shopping{
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 23px;
    position: relative;
}
.nav-top .right .shopping span{
    color: #B0B0B0;
    margin-right: 3px;

}
.nav-top .right .shopping span:nth-of-type(1){
    margin-left: 12px;
}
.nav-top .left .sanjiao{
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    top: 24px;
    left: 18px;
    display: none;
}
.nav-top .left .erweima{
    width: 124px;
    height: 0px;
    position: absolute;
    top: 40px;
    left: -37px;
    background-color: white;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    overflow: hidden;
    
}
.nav-top .left .erweima .aa{
    font-size: 14px;
    line-height: 0;
    position: relative;
    top: -3px;
}
.nav-top .left .erweima img{
    width: 90px;
    height: 90px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 18px;
    margin-bottom: 12px;    
}
.nav-top .left .app{
    position: relative;
}

.app:hover .sanjiao{
    display: block;
}
.erweima{
    transition: all 0.5s;
    z-index: 11;
}
.app:hover .erweima{
    display: block;
    height: 148px;
    
}
.nav-top .right .shopping:hover{
    
    background-color: white;
}
.nav-top .right .shopping:hover span{
    color: #FF6A00;
}
.gouwuwenben{
    text-align: center;
    width: 316px;
    height: 0px;
    line-height: 100px;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 0 2px 10px #aaa;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 100;
    background-color: white;
}
.nav-top .right .shopping:hover .gouwuwenben{
    height: 100px;
}
/* 以上是黑色导航栏css */
.header-box{
    width: 1226px;
    height: 100px;
    /* background-color: red; */
    margin: 0 auto;
    font-size: 0;
}
.header-box .logo{
    width: 234px;
    /* background-color: blue; */
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.header-box .logo img{
    width: 56px;
    height: 56px;
    position: relative;
    left: 0;
    top: 20px;
    
}
.header-box .shangpin{
    width: 682px;
    height: 100px;
    /* background-color: #FF6A00; */
    display: inline-block;
    margin-right: 8px;
}
.header-box .sousuo{
    width: 297px;
    height: 100px;
    /* background-color: green; */
    display: inline-block;
    vertical-align: top;
}
.header-box .shangpin li{
    list-style: none;
    float: left;
    
}
.header-box .shangpin li .aaa{
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 0 9px;
    line-height: 100px;
}
.header-box .shangpin li .aaa:hover{
    color: #FF6A00;
}
.header-box .sousuo input{
    width: 240px;
    height: 50px;
    margin-top: 25px;
    border: 1px solid #E0E0E0;
}

.header-box .sousuo .fangdajingbox{
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    margin-top: 25px;
    vertical-align: top;
    text-align: center;
}
.header-box .sousuo .fangdajingbox:hover{
    background-color: #FF6A00;
    border: none;
    color: white;
}
.header-box .sousuo .fangdajingbox span{
    line-height: 50px;
}

.header-box .shangpin .item{
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    height: 0px;
    background-color: white;
    z-index: 100;
    
    overflow: hidden;
    transition: all 0.5s;
    
}
.header-box .shangpin .xiaomi:hover .item{
    height: 229px;
    box-shadow: 0 2px 3px #aaa;
    border-top: 2px solid #E0E0E0;
}
.header-box .shangpin .redmi:hover .item{
    height: 229px;
    box-shadow: 0 2px 3px #aaa;
    border-top: 2px solid #E0E0E0;
}
.header-box .shangpin .dianshi:hover .item{
    height: 229px;
    box-shadow: 0 2px 3px #aaa;
    border-top: 2px solid #E0E0E0;
}
.header-box .shangpin .bijiben:hover .item{
    height: 229px;
    box-shadow: 0 2px 3px #aaa;
    border-top: 2px solid #E0E0E0;
}
.header-box .shangpin .pingban:hover .item{
    height: 229px;
    box-shadow: 0 2px 3px #aaa;
    border-top: 2px solid #E0E0E0;
}
.header-box .shangpin .jiadian:hover .item{
    height: 229px;
    box-shadow: 0 2px 3px #aaa;
    border-top: 2px solid #E0E0E0;
}
.header-box .shangpin .luyou:hover .item{
    height: 229px;
    box-shadow: 0 2px 3px #aaa;
    border-top: 2px solid #E0E0E0;
}
.header-box .shangpin .zhineng:hover .item{
    height: 229px;
    box-shadow: 0 2px 3px #aaa;
    border-top: 2px solid #E0E0E0;
}


.header-box .shangpin .item .item-sun{
    width: 1226px;
    
    height: 229px;
    margin: 0 auto;
    /* background-color: red; */
    
    text-align: center;
}

.item-sun ul li{
    float: left;
    padding: 35px 20px 0;
    position: relative;
}
.header-box .shangpin .item .item-sun a{
    text-decoration: none;
    font-size: 12px;
}
.header-box .shangpin .item .item-sun a p:nth-of-type(1){
    color: black;
    
}
.header-box .shangpin .item .item-sun a p:nth-of-type(2){
    color: #FF6A00;
}
.header-box .shangpin .item .item-sun img{
    width: 160px;
    height: 110px;
    margin: 0 auto 20px;
}
.youtiao{
    position: absolute;
    right: 0;
    top: 35px;
    width: 2px;
    height: 100px;
    background-color: #e0e0e0;
}
/* 以上是headerlogo的css */
.section{
    font-size:0;
    width: 1226px;
    height: 460px;
    background-color: royalblue;
    margin: 0 auto;
}
.section-leftbox{
    width: 234px;
    height: 420px;
    display: inline-block;
    background-color: #696973;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
}

.leftbox-ul-li-a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    width: 204px;
    height: 42px;
    padding-left: 30px;
    line-height: 42px;
    position: relative;
    font-weight: 700;
    color: #E0E0E0;
}
.leftbox-ul-li-a>.iconfont{
    position: absolute;
    right: 20px;
}
.leftbox-ul-li-a:hover{
    background-color: #FF6700;
    
}
.zuixiaimg{
    width: 1226px;
    position: absolute;
    top: 138px;
    left: 202px;
    /* background-color: red; */
    margin: 0 auto;
}
.zuixiaimg img{
    width: 85px;
    height: 28px;
}
.meihao{
    width: 368px;
    height: 19px;
    margin: 30px auto;
}