<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.chaoshi.dao.GoodsDao">
    <insert id="addGoods">
        insert into products(name,color,price,stylesize) values (#{name},#{color},#{price},#{stylesize})
    </insert>
    <update id="updetaGoods">
        update products set name =#{name},color =#{color},price =#{price},stylesize =#{stylesize} where id=#{id}
    </update>
    <delete id="deleteGoods">
        delete from products where id=#{id}
    </delete>
    <select id="getGoods" resultType="com.it.chaoshi.pojo.Goods">
        select * from products where leve1ID=#{leve3id}
    </select>
    <select id="getGood" resultType="com.it.chaoshi.pojo.Goods">
        select * from products where id=#{leve3id}
    </select>
    <select id="getGoodslist" resultType="com.it.chaoshi.pojo.Goods">
        select * from products
    </select>
    <select id="getGoodByid" resultType="com.it.chaoshi.pojo.Goods">
        select * from products where id=#{id}
    </select>
</mapper>